body {
    margin: 0;
    font-family: 'Potta One', cursive;
    background-color: brown;
}
img {
    width: 600px;
    height: 350px;
    /* margin: 10px 10px; */
    margin-bottom: 0;
    /* height: 100%; */
}
.container {
    /* min-width: 2355px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#image-card {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.69);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.69);
    margin-top: 20px;
    margin-bottom: 3 0px;
}

#image-card:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

p {
    margin-top: 0;
    height: 30px;
    margin-left: 20px;
    font-size: 25px;
    /* border: 1px solid #02070a; */
    /* border-radius: 11px 30px 0px 0px; */
    width: 600px;
    border-top: 0;
}

#card-text-container {
    background-color: white;
    width: 600px;
    height: 50px;
    margin-top: 0;
}

.upload-image-button {
    width: 120px;
    color: rgb(251, 251, 251);
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: black;
    display: inline-block;
}
.upload-image-button:hover {
    background-color: rgba(0, 0, 0, 0.698);
    border: none;
    outline: none;
    transform: translateX(10px) rotate(5deg) translateY(5px);
}
.upload-image-button:active {
    background-color: rgba(0, 0, 0, 0.37);
    border: none;
    outline: none;
}
.image-popup-container {
    background-color: aqua;
    height: 80vh;
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 14%;
    width: 70vw;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
}

#more-images {
    color: aliceblue;
    width: 120px;
    height: 50px;
    font-size: 20px;
    background-color: black;
}
#more-image-button-div {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.comments-show {
    background-color: brown;
    width: 600px;
    height: 300px;
    z-index: 4;
}

.title {
    margin: 30px auto;
    text-align: center;
    font-size: 60px;
}
.form-container {
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
}

input {
    padding: 6px;
    font-size: 17px;
    border-width: 3px;
    border-color: #cccccc;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: -1px -2px 11px rgba(66, 66, 66, 0.9);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    margin: 7px;
}
input:focus {
    outline: none;
}

.submit-image {
    background: #08121c;
    background-image: -webkit-linear-gradient(top, #08121c, #357ae9);
    background-image: -moz-linear-gradient(top, #08121c, #357ae9);
    background-image: -ms-linear-gradient(top, #08121c, #357ae9);
    background-image: -o-linear-gradient(top, #08121c, #357ae9);
    background-image: -webkit-gradient(to bottom, #08121c, #357ae9);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 200;
    width: 120px;
    padding: 7px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337fed 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.submit-image:hover {
    border: solid #337fed 1px;
    background: #1e62d0;
    background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
    background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
    background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
    background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
    background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}
#choose-file {
}
